/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: rgb(241, 241, 241);
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


body,html{
    width: 100%;
    height: 100%;
}






.cp-page{
    width: 100%;
    height: 100%;
}

.cp-nav{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    z-index: 100;
}





.cp-tabs{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    height: 50px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
}


.cp-tabs2{
    margin: 0 auto;
    width: 100%;
    height: 50px;
}

.cp-tabs2 .tab{
    float: left;
    width: 19%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    color: #CCCCCC;
    cursor: pointer;
}

.cp-tabs2 .tab:first-child {
    margin-left: 2%;
}

.cp-tabs2 .tab:last-child {
    margin-right: 2%;
}

.cp-tabs2 .tab.on{
    color: #000000;
}

.cp-tabs-p, .cp-nav-p{
    height: 50px;
}











.cp-view0{
    background-color: #5e7d00;
}


.cp-view1{
    /*background-color: #7d0013;*/
}

.cp-view2{
    background-color: #3a797d;
}

.cp-view3{
    background-color: #7d6550;
}
.cp-view{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}
.cp-view-p{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.cp-view-p.on{
    /*margin-left: 0%;*/
    display: block;
}
.cp-view-p.off{
}


.cp-input{
    display: block;
    height: 40px;
    background-color: #FFF;
    border: 1px solid #CCCCCC;
    width: 90%;
    margin: 0 auto;
}

.cp-input input{
    border:none;
    height: 96%;
    line-height: 96%;
    outline: none;
    display: inline-block;
}
.cp-input span{
    padding: 0 15px;
    display: inline-block;
}





.cp-btn1{
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(72, 142, 231);
    border: 1px solid #488ee7;
    cursor: pointer;
    display: block;
    width: 70%;
    margin: 0 auto;
}

.cp-line{
    margin-top: 20px ;
}


.postDetail img{
    max-width: 90%;
    display: block;
    margin: 0 auto;
}